.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    color: white;
}
.nav {
    background-color: black;
    max-width: 700px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.topPad {
    padding-top: 30px;
}
.hamburger {
    
        height: 40px;
        width: 40px;
        border-radius: 50%;    
        background-color: black;
        z-index: +1;
        position: fixed;
        padding-top: 2px;
        left: 47%;
        top: 5%;
}